---
import $ from 'jquery';
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import TrackTimeSection from '../components/TrackTimeSection.astro';

---

<Layout title="F1® España">
	<LandingHeader />

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<div class="snap-center">
			<TrackTimeSection />
		</div>
	</main>
</Layout>
