---
import $ from 'jquery';
import Layout from "../layouts/Layout.astro";
import LandingHeader from "../components/LandingHeader.astro";
import TeamsSection from '../components/TeamsSection.astro';


---

<Layout title="F1® España">
	<LandingHeader />

	<main class="snap-y snap-mandatory relative w-full h-screen overflow-auto">
		<div class="snap-center">
			<TeamsSection />
		</div>
	</main>
</Layout>