<body class="mt-28 bg-white">
  <h1>Clasificación de Pilotos 2024 - Fórmula 1</h1>

  <ul id="lista-pilotos" class="">
    <!-- Aquí se insertarán los elementos de la lista dinámicamente -->
  </ul>
  <script>

    const HTMLResponse = document.querySelector('#app');

    fetch("https://v1.formula-1.api-sports.io/rankings/drivers?season=2019", {
      method: "GET",
      headers: {
        "x-rapidapi-host": "v1.formula-1.api-sports.io",
        "x-rapidapi-key": "fea700892e614ca1790bf55aedcb7bfc",
      },
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Error al obtener los datos");
        }
        return response.json(); // Convierte la respuesta a JSON
      })
      .then((data) => {
        console.log(data); // Imprime los datos JSON en la consola
        const drivers = data.response;
        const tpl = drivers.map((driver) => `<li>${driver.name}</li>`);
        HTMLResponse.innerHTML = `<ul>${tpl.join('')}</ul>`;
      })
      .catch((error) => {
        console.log(error); // Maneja los errores
      });
  </script>
</body>
